/****************************************
  Inherited Syles
*****************************************/
/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt monospace, 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/****************************************
  Defaults
*****************************************/
body {
  background-color: white;
  background-image: url(https://source.unsplash.com/random/1600x900);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/****************************************
  Helpers
*****************************************/

/****************************************
  Layout
*****************************************/
.page-container {
  position: relative;
  height: 100vh;
}

/****************************************
  Components
*****************************************/
#quote-container {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  outline: 5px solid black;
  outline-offset: -10px;
  padding: 30px;
  text-align: right;
  line-height: 1.5em;
}

#quote-display {
  font-weight: bold;
}

#quote-author {
  font-size: .9em;
}

.author-row {
  & > div {
    display: inline-block;
  }
  .button-container {
    text-align: center;
    button {
      border: none;
      border-radius: 5px;
      font-family: monospace;
      color: transparent;
      background-color: transparent;
      transition: all .5s ease-in-out;
      outline: none;
      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}